body{
    background-color: rgb(140, 124, 139);
    font-family: Oswald, sans-serif;
    color: rgb(12, 3, 15)
}

.card-body{
    background-color: rgb(75, 53, 74);
    border-color: rgb(75, 53, 74);
}

.navbar-custom{
    background-color: rgb(75, 53, 74);
    
}

.row{
    padding: 2%;
}


.btn-custom{
    background-color: rgb(75, 53, 74);
}

#instagram, #youtube, #github{
   font-size: 200%; 
   color:  rgb(75, 53, 74);
   transition-duration: 0.4s;
}

#instagram:hover, #youtube:hover, #github:hover{
    color:  rgba(75, 53, 74, 0.65);
}

@media (max-width: 767px) {
    .navbar-hidden{
        display:none;
    }
}