body{
    background-color: rgb(122, 133, 133);
    font-family: Oswald, sans-serif;
}

.card-body{
    background-color: rgb(53, 75, 75);
    border-color: rgb(53, 75, 75);
}

.navbar-custom{
    background-color: rgb(53, 75, 75);
    
}

.row{
    padding: 2%;
}

@media (max-width: 767px) {
    .navbar-hidden{
        display:none;
    }
}